body, html {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
    
}

.sticky-header {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 5px 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticky-header h1 {
    margin: 0;
    padding: 5px 20px; 
    text-align: center;
    font-size: 1.5rem; 
}

.sticky-header nav {
    margin: 0;
    padding: 5px 20px; 
    width: 100%;
}

.sticky-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.sticky-header nav ul li {
    margin: 0 5px; 
}

.sticky-header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; 
    font-size: 1rem; 
}

.sticky-header nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

section {
    margin-top: 25px;
    margin-bottom: 25px;
}

.picture {
    padding-top: 10px;
    width: 600px;
    height: auto;
}
